div[is="call-out"] {
  background-color: hsl(var(--elevated));
  border: 1px solid hsl(var(--separator));
  border-radius: 0.5rem;
  padding: 1rem;

  & > *:first-child {
    margin-block-start: 0;
  }

  & > *:last-child {
    margin-block-end: 0;
  }
}
