section[is="features"] {
  border-block-end: 1px solid hsl(var(--separator));
  border-radius: 100% / 0 0 4rem 4rem;
  margin-inline: auto;
  max-inline-size: 50rem;
  padding: 3rem 2rem 4rem;

  & > h2 {
    font-size: 1.5em;
    margin-inline: auto;
    text-align: center;
  }

  & > ul {
    align-items: flex-end;
    display: grid;
    grid-gap: 3rem;
    justify-content: center;
    margin-block-start: 3rem;
    padding-inline-start: 0;

    & > li {
      display: grid;
      font-size: 1.17em;
      grid-gap: 1rem;
      justify-content: center;
      list-style: none;
      padding: 0;

      & > svg {
        justify-self: center;
      }
    }

    @media (min-width: 24em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 56em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
