section[is="latest-work"] {
  border-block-end: 1px solid hsl(var(--separator));
  border-radius: 100% / 0 0 4rem 4rem;
  margin-inline: auto;
  max-inline-size: 50rem;
  padding: 2rem 1rem 4rem;
  text-align: center;

  & > h2 {
    font-size: 2em;
    margin-block: 1em;
    margin-inline: auto;
  }

  & > div {
    margin-block: 2rem;
    margin-inline: auto;
    max-inline-size: 28rem;
  }

  & > p {
    margin-inline: auto;
    max-inline-size: 32rem;
  }
}
