a[is="promo"] {
  background-color: hsl(var(--elevated));
  border: 1px solid hsl(var(--separator));
  border-radius: 0.5rem;
  box-shadow: 0 1px 0 0 hsl(var(--drop));
  color: hsl(var(--link));
  display: block;
  padding: 1rem;
  text-decoration: none;

  &:active {
    box-shadow: none;
    inset-block-start: 1px;
    position: relative;
  }

  &:visited {
    color: hsl(var(--visited));
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px hsl(var(--focus)), 0 1px 0 0 hsl(var(--drop));
  }

  & > h4 {
    margin-block-start: 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: hsl(var(--active));
    }
  }

  & > p {
    color: hsl(var(--text));
    margin-block-end: 0;
  }
}
