section[is="roots"] {
  background-image: linear-gradient(
    to bottom,
    hsl(var(--background)),
    hsl(var(--elevated)) 40%
  );
  border-block-end: 2px solid hsl(var(--sunken));
  border-radius: 100%/0 0 2rem 2rem;
  overflow: hidden;
  padding-block-start: 1rem;
  position: relative;
  z-index: 2;

  & > h2,
  & > h3,
  & > p {
    margin-inline: auto;
    max-inline-size: 38rem;
    padding-inline: 1.5rem;
    text-align: center;
  }

  & > p {
    font-size: 0.83em;
    margin-block-start: 2em;
    max-inline-size: 24rem;
  }

  & > h2 {
    font-size: 2em;
  }

  & > h3 {
    font-size: 1.17em;
    font-weight: 400;
    margin-block-start: 1.5em;
    max-inline-size: 29.5rem;
  }

  & > div {
    align-items: stretch;
    background-image: linear-gradient(
      to bottom,
      hsl(var(--sunken)),
      hsl(var(--elevated)) 130%
    );
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: minmax(0, 23em);
    justify-content: center;
    margin-block-start: 12rem;
    margin-inline: auto;
    padding: 1rem 1.5rem 3rem;
    position: relative;

    &::before {
      background-color: hsl(var(--sunken));
      content: "";
      inset-block-end: 0;
      inset-block-start: -1rem;
      inset-inline-end: 0;
      inset-inline-start: 0;
      mask-image: url("assets/grass.svg");
      mask-position: 0% 0%;
      mask-repeat: repeat-x;
      mask-size: 30%;
      position: absolute;

      @media (min-width: 30em) {
        mask-size: 20%;
      }

      @media (min-width: 40em) {
        mask-size: 15%;
      }

      @media (min-width: 60em) {
        mask-size: 10%;
      }
    }

    & > svg {
      inset-inline-start: 50%;
      max-inline-size: none;
      position: absolute;
      transform: translate(calc(-50% - 25px), -141px);
    }

    & > h3 {
      font-size: 1.73em;
      position: relative;
      text-align: center;

      & > span {
        display: block;
        font-family: Hoefler, serif;
        font-style: italic;
        font-weight: 400;
      }
    }

    & > article {
      background-color: hsl(var(--elevated));
      border-radius: 1rem 1rem 75% 75% / 1rem 1rem 10% 10%;
      box-shadow: 0 1px 0 0 hsl(var(--drop)), inset 0 1px 0 0 hsl(var(--inset));
      padding: 1.5rem;
      position: relative;
      text-align: center;

      & > h4 {
        display: flex;
        font-size: 1.17em;
        gap: 0.75rem;
        margin-block: 0;
        place-content: center;
        place-items: center;
      }

      & > p {
        margin-block-end: 0.48em;
      }
    }

    & > p:last-of-type {
      text-align: center;
    }

    @media (min-width: 34em) {
      grid-column-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      padding-block-end: 4rem;
      padding-block-start: 4rem;

      & > h3 {
        grid-column: 1 / -1;
      }
    }

    @media (min-width: 54em) {
      grid-column-gap: 4rem;
      grid-template-columns: repeat(3, fit-content(30%));

      & > h3 {
        align-self: center;
        grid-column: 2;
        grid-row: 1 / 3;
      }

      & > p:last-of-type {
        grid-column: 3;
      }
    }

    @media (min-width: 88em) {
      grid-template-columns: repeat(3, fit-content(23%));
    }
  }

  @media (min-width: 34em) {
    padding-block-start: 3rem;
  }
}
