section[is="usps"] {
  background-image: linear-gradient(
    to bottom,
    hsl(var(--sunken)),
    hsl(var(--background)) 70%
  );
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 26rem));
  padding: 5rem 1.5rem 1rem;
  place-content: center;

  & > article {
    background-color: hsl(var(--elevated));
    border-radius: 1rem 1rem 75% 75% / 1rem 1rem 10% 10%;
    box-shadow: 0 1px 0 0 hsl(var(--drop)), inset 0 1px 0 0 hsl(var(--inset));
    padding: 2rem;
    text-align: center;

    & > h2 {
      font-family: Ariata, serif;
      font-size: 1.5em;
      margin-block: 0;
    }
  }
}
