:root {
  --grass-1-2: 144 21% 91%;
  --grass-2: 148 22% 68%;
  --grass-3: 148 22% 52%;
  --grass-4: 150 26% 43%;
  --grass-5: 149 25% 38%;
  --grass-8: 149 23% 28%;
  --grass-9: 148 23% 25%;
  --wheat-1: 60 50% 100%;
  --wheat-1-06: 45 55% 96%;
  --wheat-1-2: 48 28% 90%;
  --wheat-1-5: 51 13% 81%;
  --wheat-2: 45 8% 70%;
  --wheat-4: 45 3% 49%;
  --wheat-8: 48 3% 31%;
  --wheat-12: 60 3% 21%;
  --wheat-13: 60 2% 19%;
  --wheat-16: 60 3% 13%;
  --wheat-17: 60 2% 11%;
  --wheat-19: 60 3% 6%;
  --sky-2: 208 46% 72%;
  --sky-6: 204 50% 37%;
  --violet-2: 273 39% 77%;
  --violet-6: 270 32% 47%;
  --blood-2: 10 77% 76%;
  --blood-6: 2 73% 43%;
  --sun-1-1: 50 100% 87%;
  --sun-1-2: 50 100% 75%;
  --sun-1-5: 51 84% 57%;
  --sun-4: 50 73% 33%;
  --sun-7: 49 63% 25%;
  --sun-10: 49 57% 19%;
}
