:root {
  --text: var(--grass-1-2);
  --text-secondary: var(--wheat-2);
  --top: var(--wheat-12);
  --background: var(--wheat-16);
  --elevated: var(--wheat-14-5);
  --sunken: var(--wheat-17);
  --drop: var(--wheat-19);
  --inset: var(--wheat-8);
  --separator: var(--wheat-12);
  --separator-on-elevated: var(--wheat-8);
  --input: var(--wheat-8);
  --input-icon: var(--wheat-2);
  --accent: var(--grass-5);
  --accent-drop: var(--grass-8);
  --accent-inset: var(--grass-3);
  --on-accent: var(--wheat-1-06);
  --link: var(--sky-2);
  --visited: var(--violet-2);
  --active: var(--blood-2);
  --focus: var(--sun-1-2);
  --focus-drop: var(--sun-1-5);
  --focus-inset: var(--sun-1-1);
  --on-focus: var(--grass-9);
  --on-focus-link: var(--sky-6);
  --on-focus-visited: var(--violet-6);
  --on-focus-active: var(--blood-6);
  --meta: var(--wheat-12);
  --on-meta: var(--wheat-1-5);
  --error: var(--blood-6);
  --on-error: var(--wheat-1);
  --toggle-track-background: var(--wheat-12);
  --toggle-track-drop: var(--wheat-16);
  --toggle-track-inset: var(--wheat-8);
  --toggle-thumb-background: var(--grass-4);
  --toggle-thumb-drop: var(--grass-14);
  --toggle-thumb-inset: var(--grass-3);
  --logo: var(--grass-8);
  --logo-secondary: var(--grass-5);
  --logo-text: var(--grass-1-2);
  --tree-trunk: var(--grass-1-2);
  --tree-roots: var(--wheat-12);
  --icon: var(--grass-3);
  --icon-secondary: var(--grass-5);
  --ds-background: var(--wheat-17);
}
