:root {
  --background: var(--green);
  --background-accent: var(--green-mid);
  --background-flash: url("flash-dark.svg");
  --background-color-stop-1: 0%;
  --background-color-stop-2: 50%;
  --text: var(--cream);
  --text-secondary: var(--brown-light);
  --accent: var(--cream-dark);
  --separator: var(--green-light);
  --evelated: var(--green-dark);
  --drop: var(--green-dark);
  --inset: var(--green-light);
}
