:root {
  --background: var(--green);
  --elevated: var(--green-mid);
  --sunken: var(--green-dark);
  --text: var(--cream-mid);
  --text-secondary: var(--brown-light);
  --text-inverse: var(--brown-dark);
  --accent: var(--cream-dark);
  --accent-secondary: var(--cream-light);
  --accent-tertiary: var(--green-lighter);
  --accent-quaternary: var(--green-light);
  --separator: var(--green-light);
  --drop: var(--green-dark);
  --drop-accent: var(--cream);
  --inset: var(--green-light);
  --inset-accent: var(--green-lightest);
  --logo-primary: var(--green-dark);
  --logo-secondary: var(--green);
  --text-text: var(--cream-mid);
}
